.invite
  .watermark
    = render 'brand_icon_svg'
  .cap
    %p
      Br Br Br 
  .code
    .container
      .label 
        %span{ class: 'the-board' } The Board
        Invite:
      .value= invite.code
  .perforation
  .expires
    .container
      .label Expires:
      .value= invite.expires_str
  .cap.end
    %p 
      Br Br Br
    