.invite
  .watermark
    = render 'brand_icon_svg'
  = copy_to_clipboard_button '', accept_invite_url(invite.code), class: 'icon-only copy', title: 'Copy invite'
  .code
    .container
      .label 
        %span{ class: 'the-board' } The Board
        Invite:
      .value= invite.code
  .perforation
  .expires
    .container
      .label Expires:
      .value= invite.expires_str
  = button_to '', invite_path(invite), method: 'delete', class: 'icon-only close', title: 'Delete invite'