.invite.claimed
  .value
    = link_to invite.claimed_by, class: 'nodecor' do
      .minicon
    = link_to invite.claimed_by
  .claimed-at
    .watermark
      = render 'brand_icon_svg'
    .container
      .label Claimed:
      .value= invite.claimed_at_str