%figure{:class => "attachment attachment--#{blob.representable? ? "preview" : "file"} attachment--#{blob.filename.extension}"}
  - if blob.representable?
    = image_tag blob, width: blob.full_attributes['width'], height: blob.full_attributes['height']
  - if (caption = blob.try(:caption))
    %figcaption.attachment__caption
      = caption
