= link_to settings_path(theme: "#{theme.name}") do
  %div{class: "theme",
       title: "#{theme.name}",
       style: "--theme-primary: #{theme.primary.to_hex};
               --theme-secondary: #{theme.secondary.to_hex};
               --theme-background: #{theme.background.to_hex};"}
    Br