= form_for @authenticated_user, namespace: 'password', url: password_path, html: {class: 'sm-container'} do |f|
  .field
    = f.label :old_password, 'Old Password'
    = f.password_field :old_password, required: true
    = f.errors_for :old_password
  .field
    = f.label :password, 'New Password'
    = f.password_field :password, required: true, minlength: 8
    = f.errors_for :password
  .field
    = f.label :password_confirmation, 'Re-Type Password'
    = f.password_field :password_confirmation, required: true, minlength: 8
    = f.errors_for :password_confirmation
  -# TODO: the success class should go away if the form is interacted with
  .actions{class: class?(success: @success)}
    = f.button 'Change Password'
