= form_tag '/login', class: 'sm-container' do
  .field
    = label :user, :username
    = text_field :user, :username, value: flash[:username], required: true, autofocus: true
  .field
    = label :user, :password
    = password_field :user, :password, required: true
  .errors
    - if notice
      .icon.auth-failure= notice
  .actions
    = button_tag 'Login'
