@font-face
  font-family: 'JetBrains Mono'
  font-style: normal
  font-weight: 400
  src: url('/fonts/jetbrains_mono-2.304/JetBrainsMono-Regular.woff2') format('woff2'), url('/fonts/jetbrains_mono-2.304/JetBrainsMono-Regular.ttf') format('truetype')
