.user.small
  = link_to user, class: 'nodecor' do
    .minicon
  = link_to user
  - if user.operator?
    %div{ class: 'icon pulse', title: 'operator'}
  - if user.moderator? && !user.operator?
    %div{ class: 'icon gavel', title: 'moderator'}