.profile
  .large.minicon
  .info.fill
    .name
      .display= @user.display_name
      .username= "(#{@user.username})"
      - if @user == @authenticated_user
        = link_to '', settings_path, class: 'button icon-only edit outline'
    .invite-count.icon-only.people
      = t 'users.invite_count', count: @invite_count
= render @posts