%p
  %em The Board
  version:
  = Manifest.version + '.'
%p
  Copyright &copy; 2023 Coldwater Systems.
%p
  This program is free software: you can redistribute it and/or modify it under the terms of
  = link_to('AGPL', '/LICENSE') + ','
  version 3 only. The source code and issue tracker for
  %em The Board
  can be found
  = link_to('on GitLab', Manifest.source_code_url) + '.'
-# TODO: should probably list all the licensed components we're using
%p
  Unless otherwise mentioned, user contributions are licensed under
  = link_to('CC-BY-SA 4.0', 'http://creativecommons.org/licenses/by-sa/4.0/') + '.'
