- @sections_visible['theme'] = true
- @sections_visible['username'] = true
- @sections_visible['password'] = true
- @sections_visible['invites'] = @authenticated_user.can_invite?
- @sections_visible['claimed_invites'] = @authenticated_user.can_invite? && @claimed_invites.any?
- @sections_visible['about'] = true
- @sections_visible['moderator_tools'] = @authenticated_user.moderator?
- @sections_visible['operator_tools'] = @authenticated_user.operator?
- @sections_bottom = sections_bottom(@sections_visible, height: 50)

.sections
  = render 'section', heading: 'theme' do
    .themes
      = render @themes

  = render 'section', heading: 'username' do
    = turbo_frame_tag 'username_form' do
      = render 'profile/username_form'

  = render 'section', heading: 'password' do
    = turbo_frame_tag 'password_form' do
      = render 'session/password_form'

  = render 'section', heading: 'invites' do
    .form.sm-container
      - if @unclaimed_invites.any?
        = render partial: 'invites/invite_unclaimed', collection: @unclaimed_invites, as: :invite
      - else
        No invites yet.
      .actions
        = button_to 'New Invite', invites_path

  = render 'section', heading: 'claimed_invites' do
    = render partial: 'invites/invite_claimed', collection: @claimed_invites, as: :invite
  
  = render 'section', heading: 'about' do
    .container
      = render 'about'

  = render 'section', heading: 'moderator_tools' do
    .container
      %h3 User Tree
      %ul
        - User.where(invited_by: nil).each do |user|
          %li= render 'user_tree', user: user

  = render 'section', heading: 'operator_tools' do
    .container
      %h3= link_to 'Tags list', tags_path
      %h3 Perf Counters
      %ul
        - PerfCounter.order(name: :asc).each do |counter|
          %li= "#{counter.name}: #{counter.value}"
