.sm-container
  %h1 Tags
  %ul
    - @tags.each do |tag|
      %li(style="display:flex")
        %div(style="flex:1")= tag
        -# TODO: Consider refactoring the delete button into ApplicationHelper?
        = button_to '', tag, method: 'delete', class: 'outline icon-only trash', title: 'Delete tag',
          data: {turbo_confirm: "Are you sure you want to delete the #{tag} tag?"}

  = link_to 'New Tag', new_tag_path, class: 'button'
