= form_for @tag, html: {class: 'sm-container'} do |f|
  .field
    = f.label :name, 'Tag name'
    = f.text_field :name
    = f.errors_for :slug
  .actions
    = link_to 'Cancel', tags_path, class: 'button outline'
    = f.button 'Create'
