.sm-container
  %h1 Nothing at this location
  %p You may have mistyped the URL or the page may have moved.
  %p
    If an internal link or button brought you here in error,
    = link_to('please let us know', Manifest.issues_url) + '.'
