.sm-container
  %h1 Unexpected error on save
  %p
    This is a bug, and the incident has been logged. If you would like, you can report the issue on
    = link_to('our issue tracker', Manifest.issues_url) + '.'
