.comments
  .comment-header
    %h2 Comments
    = new_comment_button 'New Comment', 'Discard', expander_id: 'new-comment-expander', class: 'icon new-message'
  #new-comment-expander
    = form_for @new_post_comment, html:{class: 'new-comment'} do |f|
      .field
        = f.text_area :text, required: true
        .right
          = f.button 'Post Comment', class: 'icon new-message'
      .horizontal.field
      = f.errors_for :text
  - if @post_comments.any?
    = render @post_comments
  - else
    .no-comments No comments yet.
