= form_for @post_revision, url: @form_url, html: {class: 'container'}  do |f|
  .field
    -# = f.label :body, 'New body'
    = f.rich_text_area :body, required: true
    = f.errors_for :body
  .actions
    = f.button 'Save Draft', value: 'save', class: 'outline'
    = f.button 'Publish', value: 'publish'
