.post
  .content
    = (post.published || post.revisions.last).body
  .bottom
    .metadata
      - if post.published
        .user
          = render partial: 'users/small', locals: { user: post.owner }
        .date
          = post.published_at_str
      - else
        .draft
          Draft
    %spacer
    .actions
      - if post.owner == @authenticated_user
        = button_to '', post_path(post), method: 'delete', class: 'outline icon-only trash', title: 'Delete post',
          data: {turbo_confirm: "Are you sure you want to delete this post?"}
        = link_to '', edit_post_path(post), class: 'outline button icon-only edit', title: 'Edit post'
      %span
        = link_to "#{post.comments.count}", post, class: 'button icon message', title: 'Comments'
