= infinite_scroll_container(before_id: @before_id) do
  - unless @posts.empty?
    = render @posts, partial: 'post'
    = infinite_scroll_next(before_id: @posts.last.id) do
      .div(style='padding-bottom: 100px; text-align: center') Loading more posts...
