html
  box-sizing: border-box

  ::-webkit-scrollbar
    display: none

*, *:before, *:after
  box-sizing: inherit

body
  --font: Inter, 'Noto Emoji', sans-serif
  --mono: 'JetBrains Mono', monospace
  --font-features: "cpsp", "ss01", "cv05" // capital spacing, open digits, disambiguate lowercase l

  margin: 0 auto
  padding-top: 10px
  min-width: 344px
  max-width: 800px
  min-height: 100vh
  outline: 1px solid var(--theme-secondary)
  background: var(--theme-background)
  color: var(--theme-primary)
  font: 14px/1.5 var(--font)
  font-feature-settings: var(--font-features)

main
  padding-bottom: 1px

.container
  padding: 0 10px

.sm-container
  margin: 0 auto
  max-width: 324px

h1, h2, h3, p
  margin: 0 0 10px
h1
  font-size: 24px
h2
  font-size: 20px
h3
  font-size: 16px

hr
  border: 0
  border-bottom: 1px solid var(--theme-secondary)

a
  color: inherit

svg *[fill=white]
  fill: var(--theme-background)
svg *[fill=black]
  fill: var(--theme-primary)
svg *[stroke=white]
  stroke: var(--theme-background)
svg *[stroke=black]
  stroke: var(--theme-primary)

// Utilities
.brand
  display: flex
  max-width: 324px
  margin: 0 auto 10px
  justify-content: center

spacer, .fill
  display: block
  flex: 1

.nodecor
  text-decoration: none

.ellipsis
  overflow-x: hidden
  white-space: nowrap
  text-overflow: ellipsis
