.comments
  border-top: 1px solid var(--theme-secondary)

  .comment-header
    display: flex
    margin: 10px
    align-items: center
    justify-content: space-between

  h2
    line-height: 1
    margin: 0

  #new-comment-expander
    transition: 0.2s ease
    overflow-y: hidden
    height: 0
    opacity: 0

    &.expanded
      height: 205px
      opacity: 1

  .new-comment
    margin-bottom: 10px
    border-bottom: 1px solid var(--theme-secondary)
    padding: 0 10px 10px 10px
    h3
      margin: 8px 0 4px
    input
      height: 26px
    textarea
      font-size: 14px
      display: flex
      max-height: auto
      min-height: 150px
      padding: 4px 8px
      border-radius: 10px
    .right
      display: flex
      justify-content: right
      flex-direction: row
    .field
      margin-bottom: 0
      button
        margin-top: 8px

  .comment
    margin: 0 10px
    border: 1px solid var(--theme-primary)
    border-radius: 10px
    display: flex
    flex-direction: column
    margin-bottom: 10px

    .metadata
      padding: 6px 6px 4px 6px
      border-bottom: 1px solid var(--theme-secondary)
      display: flex
      flex-direction: row
      align-items: baseline
    .user
      font: 600 16px/1.2 var(--font)
      padding-right: 6px
    .date
      font: 400 12px/14px var(--font)
      font-feature-settings: var(--font-features), "tnum" // tabular numbers
    p
      padding: 4px 8px
      margin: 0

  .no-comments
    text-align: center
