@import remixicon

trix-toolbar
  position: sticky
  top: 0
  z-index: 1
  margin-top: -10px
  background: var(--theme-background)
  padding: 10px 0

  .trix-button-row
    display: flex
    flex-wrap: wrap
    gap: 4px
    margin-left: -20px
    .trix-button
      border-radius: 4px
      width: 28px
      height: 24px

  .trix-button-group
    display: flex
    margin-left: 20px

  .trix-button-group-spacer + *
    margin-left: auto

  .trix-button
    background: var(--theme-background)
    width: min-content
    &:not(:first-child)
      margin-left: 4px
    &.trix-active
      background: var(--theme-primary)
    &:disabled
      background: var(--theme-secondary)
      border-color: var(--theme-secondary)

  // Move the text of the icon off screen and replace with an icon via ::before
  // TODO: replace this with an actual aria-label instead of doing poor man's accessibility
  .trix-button--icon
    position: relative
    text-indent: -9999px
    overflow: hidden
    &:before
      display: inline-block
      position: absolute
      top: 2px
      right: 0
      left: 0
      color: var(--theme-primary)
      font: 16px remixicon
      speak: none
      -moz-osx-font-smoothing: grayscale
      -webkit-font-smoothing: antialiased
      font-smoothing: antialiased
      text-rendering: optimizeLegibility
      text-indent: 0
    &.trix-active:before, &:disabled:before
      color: var(--theme-background)

  .trix-button--icon-attach::before
    content: $ri-attachment-2
  .trix-button--icon-bold::before
    content: $ri-bold
  .trix-button--icon-italic:before
    content: $ri-italic
  .trix-button--icon-link:before
    content: $ri-link
  .trix-button--icon-strike:before
    content: $ri-strikethrough
  .trix-button--icon-code:before
    content: $ri-braces-fill
  .trix-button--icon-quote::before
    content: $ri-quote-text
  .trix-button--icon-heading-1::before
    content: $ri-heading
  .trix-button--icon-bullet-list:before
    content: $ri-list-unordered
  .trix-button--icon-number-list:before
    content: $ri-list-ordered
  .trix-button--icon-undo:before
    content: $ri-arrow-go-back-fill
  .trix-button--icon-redo:before
    content: $ri-arrow-go-forward-fill
  .trix-button--icon-decrease-nesting-level:before
    content: $ri-indent-decrease
  .trix-button--icon-increase-nesting-level:before
    content: $ri-indent-increase

  .trix-dialogs
    position: relative

  .trix-dialog
    position: absolute
    left: 0
    top: 20px
    right: 0
    z-index: 2
    margin: 0 auto
    border: 1px solid var(--theme-primary)
    border-radius: 6px
    box-shadow: 0 3px 0 var(--theme-secondary)
    background: var(--theme-background)
    padding: 10px

  .trix-dialog__link-fields //XXX
    display: flex
    align-items: baseline

  .trix-input--dialog
    margin-right: 10px
    // &.validate:invalid
    //   box-shadow: #F00 0px 0px 1.5px 1px

  .trix-dialog--link
    max-width: 600px

trix-editor
  border: 1px solid var(--theme-primary)
  border-radius: 10px
  padding: 8px
  min-height: 250px
  outline: none
