.field
  margin-bottom: 10px

  .errors
    padding-left: 4px
    font-style: italic
  // TODO: should probably be refactored to icons.sass
  .errors:before
    content: '\26A0\A0'
    font-style: normal

.horizontal.field
  display: flex
  align-items: baseline
  gap: 10px

  label
    padding: 0

  input
    width: auto
    flex: 1

.success
  display: flex
  align-items: baseline

label
  display: block
  margin-bottom: 4px
  padding-left: 6px
  font-weight: 700

input, textarea
  display: block
  width: 100%
  border: 1px solid var(--theme-primary)
  border-radius: 6px
  background: var(--theme-background)
  font-size: 14px
  min-width: 0
  padding: 4px 8px
  color: var(--theme-primary)
  transition: .2s
  outline: var(--theme-background) dashed 1px
  outline-offset: -3px

  &:focus-visible
    outline: var(--theme-primary) dashed 1px
    transition: .2s

textarea
  font: 16px var(--font)
  min-height: 100px
  resize: none

form, .form
  .errors
    min-height: 25px //Calculated from height of label + margins

  .actions
    display: flex
    margin: 20px auto
    align-items: flex-end
    justify-content: right
    gap: 10px

button, .button
  height: 26px
  display: inline-flex
  align-items: center
  border: 1px solid var(--theme-primary)
  border-radius: 6px
  padding: 0 7px
  background: var(--theme-primary)
  color: var(--theme-background)
  font: 700 14px/17px var(--font)
  text-align: center
  text-decoration: none
  white-space: nowrap
  appearance: none
  cursor: pointer
  transition: .2s
  &:hover
    color: var(--theme-secondary)
    transition: .2s
    // text-decoration: underline
  &:active
    background-color: var(--theme-secondary)
    color: var(--theme-background)
    border-color: var(--theme-secondary)
    transition: .2s
    // text-decoration: underline
  &.outline
    background: var(--theme-background)
    border: 1px solid var(--theme-primary)
    color: var(--theme-primary)
  &.outline:hover
    border-color: var(--theme-secondary)
    background: var(--theme-background)
  &.outline:active
    color: var(--theme-secondary)
    border-color: var(--theme-secondary)
