@import remixicon

// Usage: class="icon pencil" on a button with text,
// or class="icon-only pencil" title="..." on a button without text.

.icon, .icon-only
  &:before
    display: inline-flex
    font: 24px/24px remixicon

  &.pencil:before
    content: $ri-pencil-line
  &.trash:before
    content: $ri-delete-bin-5-fill
  &.edit:before
    content: $ri-edit-2-fill
  &.message:before
    content: $ri-message-2-fill
  &.new-message::before
    content: $ri-chat-new-fill
  &.exit:before
    content: $ri-door-open-fill
  &.people:before
    content: $ri-team-fill
  &.megaphone:before
    content: $ri-megaphone-fill
  &.brush:before
    content: $ri-brush-3-fill
  &.gavel:before
    content: $ri-auction-fill
  &.pulse:before
    content: $ri-heart-pulse-fill
  &.tag:before
    content: $ri-price-tag-3-fill
  &.settings:before
    content: $ri-settings-5-fill
  &.auth-failure:before
    content: $ri-pass-expired-fill
  &.auth-success:before
    content: $ri-pass-valid-fill
  &.copy:before
    content: $ri-file-copy-fill
  &.close:before
    content: $ri-close-circle-fill
  &.check:before
    content: $ri-check-fill

.success:before
  content: $ri-check-fill
  font: 24px/24px remixicon

.icon:before
  padding-right: 6px

button, .button
  &.icon, &.icon-only
      &:before
        font: 16px/16px remixicon
