.invite
  position: relative
  display: flex
  margin: 0 auto 10px
  width: 324px
  height: 48px
  overflow: hidden
  align-items: center
  justify-content: space-between

  .container
    padding: 0
  .label
    font: 500 12px var(--font)
  .value
    font: 700 15px var(--mono)
  .the-board
    font: 700 12px var(--font)
    font-style: italic

  .watermark
    position: absolute
    top: -14px
    left: 130px
    opacity: 20%
    transform: rotate(20deg)
    z-index: -2

  .copy
    display: flex
    flex-shrink: 0
    border-radius: 10px 0 0 10px
    width: 24px
    height: 48px
    padding: 0
    justify-content: center
    align-items: center
    &:hover
      text-decoration: none

  .code
    width: 100%
    height: 100%
    border: 1px solid var(--theme-primary)
    border-left: none
    border-radius: 0 5px 5px 0
    display: flex
    justify-content: center
    align-items: center
    margin-right: -1px
    z-index: -1

  .perforation
    width: 2px
    height: 38px
    margin-right: -1px
    background: repeating-linear-gradient(to bottom, var(--theme-secondary) 0, var(--theme-secondary) 2px, var(--theme-background) 2px, var(--theme-background) 6px)
    z-index: 0

  .expires
    width: 120px
    height: 100%
    border: 1px solid var(--theme-primary)
    border-right: none
    border-radius: 5px 0 0 5px
    flex-shrink: 0
    display: flex
    justify-content: flex-start
    align-items: center
    padding-left: 6px

  .close
    display: flex
    border-radius: 0 10px 10px 0
    width: 24px
    height: 48px
    padding: 0
    justify-content: center
    align-items: center
    &:hover
      text-decoration: none

  .cap
    border-radius: 10px 0 0 10px
    width: 24px
    height: 48px
    background-color: var(--theme-primary)
    flex-shrink: 0
    font: 700 italic 16px var(--font)
    overflow: hidden
    p
      color: var(--theme-secondary)
      opacity: 50%
      position: relative
      top: 16px
      right: 18px
      line-height: 1
      width: 60px
      transform: rotate(-90deg)
      white-space: nowrap
  .cap.end
    border-radius: 0 10px 10px 0
    p
      transform: rotate(90deg)

.invite.claimed
  border: 1px solid var(--theme-primary)
  border-radius: 10px
  padding: 0 10px

  .value
    display: flex
    align-items: center
    gap: 10px
    width: 100%
    height: 100%
    border-right: 1px solid var(--theme-background)

  .claimed-at
    height: 100%
    flex-shrink: 0
    width: 133px
    padding: 6px 0 6px 6px
    border-left: 1px solid var(--theme-secondary)
