nav
  margin: 0 auto 10px
  border-bottom: 1px solid var(--theme-secondary)
  padding-bottom: 10px

  .nav-items
    display: flex
    gap: 6px
    align-items: center

  .minicon
    width: 26px
    height: 26px
