.post
  margin: 0 10px 10px
  border: 1px solid var(--theme-primary)
  border-radius: 10px

  .content
    margin: 8px

    p
      font-size: 16px
    img
      border-radius: 3px

  .bottom
    display: flex
    align-items: center
    border-top: 1px solid var(--theme-secondary)
    padding: 4px 6px

    .user
      display: flex
      font: 600 16px/1.2 var(--font)
    .date
      font: 400 12px/14px var(--font)
      font-feature-settings: var(--font-features), "tnum" // tabular numbers
    .actions
      display: flex
      font-weight: 600
      justify-content: right
      margin: 5px 0
      padding-right: 3px
      gap: 6px

    .draft
      margin-left: 10px
      font-style: italic
      font-weight: 700
