.minicon
  display: inline-block
  height: 24px
  width: 24px
  border: 1px var(--theme-secondary) solid
  border-radius: 6px
  background: center/contain url('images/default_profile.png')
  vertical-align: -6px

.large.minicon
  height: 48px
  width: 48px

.profile
  display: flex
  margin: 10px
  align-items: flex-start

  .info, .actions
    margin-left: 10px

  .info
    .invite-count.icon-only:before
      font: 16px/16px remixicon
    .button
      margin-left: 6px
    .name
      display: inline-flex
      height: 26px
      align-items: baseline
      gap: 2px
      .display
        display: inline
        font: 700 18px var(--font)
      .username
        display: inline
        font-style: italic

.view_profiles.new
  h1
    text-align: center
    margin-top: 20px
  .invite
    margin: 10px auto 20px
  .field
    margin-top: 14px
    p
      font-size: 12px
      margin: -4px 0 4px 6px
  .actions
    margin-top: 20px