.sections
  margin-top: -11px

  h2
    position: sticky
    margin: 0
    border-top: 1px solid var(--theme-secondary)
    padding: 10px 0
    background: var(--theme-background)
    text-align: center
    font-style: italic

  section
    margin-bottom: 30px
