.theme
  color: var(--theme-primary)
  border: 2px solid var(--theme-secondary)
  background-color: var(--theme-background)
  border-radius: 50%
  height: 40px
  width: 40px
  font-size: 34px
  font-weight: 900
  font-style: italic
  line-height: 1.06
  overflow: hidden
  text-align: center

.themes
  display: flex
  flex-wrap: wrap
  justify-content: center
  gap: 10px
  padding: 0 10px

  a
    text-decoration: none