<svg width="72" height="72" viewBox="0 0 72 72" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip0_1713_1032)">
<rect width="72" height="72" rx="10" fill="white"/>
<path d="M9.06818 55L14.8636 20.0909H30C32.6591 20.0909 34.8352 20.4489 36.5284 21.1648C38.233 21.8807 39.4375 22.892 40.142 24.1989C40.858 25.5057 41.0682 27.0455 40.7727 28.8182C40.5455 30.0909 40.0568 31.2557 39.3068 32.3125C38.5682 33.358 37.6307 34.2443 36.4943 34.9716C35.3693 35.6875 34.1136 36.1818 32.7273 36.4545L32.6591 36.7955C34.1591 36.8409 35.4659 37.2159 36.5795 37.9205C37.6932 38.6136 38.5114 39.5795 39.0341 40.8182C39.5568 42.0455 39.6818 43.4773 39.4091 45.1136C39.0909 47.0227 38.3125 48.7216 37.0739 50.2102C35.8352 51.6989 34.2273 52.8693 32.25 53.7216C30.2727 54.5739 28.0227 55 25.5 55H9.06818ZM19.8409 47.4318H24.2727C25.8409 47.4318 27.0739 47.1307 27.9716 46.5284C28.8807 45.9261 29.4205 45.0455 29.5909 43.8864C29.7273 43.0682 29.6591 42.375 29.3864 41.8068C29.1136 41.2386 28.6534 40.8068 28.0057 40.5114C27.358 40.2159 26.5455 40.0682 25.5682 40.0682H21L19.8409 47.4318ZM22.0227 34.2045H25.9091C26.7273 34.2045 27.4773 34.0739 28.1591 33.8125C28.8409 33.5511 29.4034 33.1705 29.8466 32.6705C30.2898 32.1705 30.5682 31.5682 30.6818 30.8636C30.8523 29.7727 30.5909 28.9432 29.8977 28.375C29.2159 27.8068 28.2955 27.5227 27.1364 27.5227H23.1136L22.0227 34.2045ZM41.267 55L45.6307 28.8182H54.767L53.9489 33.7955H54.2216C55.0057 31.9545 55.9886 30.608 57.1705 29.7557C58.3523 28.9034 59.642 28.4773 61.0398 28.4773C61.4489 28.4773 61.8409 28.5114 62.2159 28.5795C62.6023 28.6364 62.983 28.7159 63.358 28.8182L61.9943 36.8636C61.5511 36.6932 61 36.5739 60.3409 36.5057C59.6818 36.4261 59.0966 36.3864 58.5852 36.3864C57.6761 36.3864 56.8239 36.5966 56.0284 37.017C55.2443 37.4261 54.5739 38.0057 54.017 38.7557C53.4716 39.4943 53.108 40.3636 52.9261 41.3636L50.6761 55H41.267Z" fill="black"/>
<path d="M62 27C68.1841 27 72.9447 25.2673 76.1709 22.3481C79.4035 19.4233 81 15.3921 81 11C81 2.16344 73.8366 -5 65 -5C56.1634 -5 49 2.16344 49 11C49 14.1958 49.938 17.1757 51.5541 19.6755C51.5687 19.6981 51.5721 19.7229 51.5687 19.7418C51.5673 19.7492 51.5653 19.7532 51.5647 19.7544C51.5645 19.7545 51.5643 19.7546 51.564 19.7548L46.1929 23.336L46.7477 24.168L46.1929 23.336C44.5466 24.4337 45.3237 27 47.3024 27H62Z" fill="black" stroke="white" stroke-width="2"/>
</g>
<rect x="0.5" y="0.5" width="71" height="71" rx="9.5" stroke="black"/>
<defs>
<clipPath id="clip0_1713_1032">
<rect width="72" height="72" rx="10" fill="white"/>
</clipPath>
</defs>
</svg>
