%nav
  .nav-items.sm-container
    = link_to '', logout_path, data: {turbo_method: "post", turbo_confirm: "Are you sure you want to log out?"}, class: 'button outline icon-only exit'
    = link_to '', settings_path, class: 'button outline icon-only settings'
    .fill.ellipsis
      = render partial: 'users/small', locals: { user: @authenticated_user }
    = link_to 'New Post', new_post_path, class: class?(button: true, icon: true, megaphone: true, outline: request.url == new_post_url)
