= form_for @authenticated_user, url: profile_username_path, html: {class: 'sm-container'} do |f|
  .field
    = f.label :username, 'Username'
    = f.text_field :username, required: true
    = f.errors_for :username
  .field
    = f.label :display_name, 'Display Name'
    = f.text_field :display_name, required: true
    = f.errors_for :display_name
  -# TODO: the success class should go away if the form is interacted with
  .actions{class: class?(success: @success)}
    = f.button 'Save'
