-# expected to rendered within users/show.html.haml
= turbo_frame_tag 'profile_form' do
  = form_for @authenticated_user, url: profile_path, html: {class: 'profile'} do |f|
    .large.minicon
    .info.fill
      .name
        = f.text_field :display_name, required: true
        = f.errors_for :display_name
      .invite-count
        = t 'users.invite_count', count: @invite_count
    .actions
      = f.button 'Save', class: 'outline'
