.view_profiles.new
  %h1 Create Account
  = render @invite
  = turbo_frame_tag 'create_account' do
    = form_for @new_user, url: profile_path, html: {class: 'sm-container'} do |f|
      .field
        = f.label :username, 'Username'
        %p Only displayed on your profile, can be changed later
        = f.text_field :username, required: true
        = f.errors_for :username
      .field
        = f.label :username, 'Display Name'
        %p Displayed everywhere, can be changed later
        = f.text_field :display_name
        = f.errors_for :display_name
      .field
        = f.label :password, 'New Password'
        %p Must be at least 8 characters and uncommon
        = f.password_field :password, required: true
        = f.errors_for :password
      .field
        = f.label :password_confirmation, 'Confirm Password'
        = f.password_field :password_confirmation, required: true
        = f.errors_for :password_confirmation
      .actions
        .left_slot
          = f.button 'Create Account', class: 'icon auth-success'
