!!!
%html(lang="en-US")
  %head
    %meta(charset="UTF-8")
    %title The Board
    %meta(name="viewport" content="width=device-width,initial-scale=1")
    -# TODO: add back in these settings as appropriate
    %link{rel: "icon", href: "/favicon.svg?theme=#{@theme.name}", "data-turbo-track": "reload"}
    -# %meta(name="apple-mobile-web-app-capable" content="yes")
    -# %meta(name="apple-mobile-web-app-status-bar-style" content="black")
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags
  %body{class: @theme.css_class}
    = render 'header'
    - if @authenticated_user
      = render 'navbar'
    %main
      = yield
